<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>HIB || Registration</title>
    <meta name="description" content="meta description">
    <meta name="author" content="author name">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.1/index.js" integrity="sha512-FjkbKM7CNX2Q3JuUyWQZQyBuyhbZpAqvPpMJTI2m9ahkCcerrxKHZHvlV9EYufBZAy7EsvNh52dnoi7BNGC8Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

<style type="text/css">
    .btn-primary {
        color: #fff;
        background-color: #473cb3;
        border-color: #473cb3;
    }
</style>
</head>

<body>

<div id="jpt">

    <div class="container mt-4">
        <div class="header">
            <div class="row mb-3">
                <div class="col-md-8 col-lg-8">
                    <img src="https://hib.gov.np/public/uploads/shares/logo.png" style="height: 100px; float: left;">
                    <div class="title" style="margin-left: 20px; float: left; margin-top: 20px;">
                        <p style="margin-bottom: 2px; color: #473cb3; font-size: 16px;">नेपाल सरकार</p>
                        <p style="margin-top: 2px; color: #473cb3; font-size: 20px;">स्वास्थ्य बीमा बोर्ड</p>
                    </div>
                    <div class="vl" style="border-left: 2px solid lightgrey; height: 50px; position: absolute; left: 31%; top: 50px;"></div>
                    <div class="slogan" style="margin-top: 40px; margin-left: 30px; float:left;">
                        <span style="color: #473cb3; font-size: 18px;">"तपाईको स्वास्थ्य हाम्रो अठोट"</span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="https://hib.gov.np/site/img/shs.png" style="height: 100px; float: right;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            

                            <div class="col-md-12 col-sm-12 mb-3" style="display:none">
                            	<h4 class="card-title mb-3">Family with existing Insuree</h4>
                                <label for="firstName" class="form-label">CHFID</label>
                                <input type="text" class="form-control" id="chfid_id" placeholder="Insurance Number" v-model="Model.ExistingInsuree.CHFID" >
                            </div>

                            <h4 class="card-title mb-3">Family with no Insuree</h4>
                            <div class="col-md-12 col-sm-12 mb-3">
                                <label for="firstName" class="form-check-label" style="margin-right: 15px;">Poverty</label>
                                <input type="checkbox" class="form-check-input" id="poverty_id" v-model="Model.Family.Poverty" >
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label for="familyType" class="form-label">Family Type</label>
                                <select class="form-select" v-model="Model.Family.FamilyType">
                                    <option value="">-- Select Type --</option>
                                    <option value="C">Council</option>
                                    <option value="G">Organization</option>
                                    <option value="H">Household</option>
                                    <option value="O">Other</option>
                                    <option value="P">Priests</option>
                                    <option value="S">Students</option>
                                    <option value="T">Teachers</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-3">
                                <label for="familyAddress" class="form-label">Family Address</label>
                                <input type="text" class="form-control" id="familyaddress_id" placeholder="Address" v-model="Model.Family.FamilyAddress" >
                            </div>
                            <div class="col-md-12 col-sm-12 mb-3">
                                <label for="ethnicity" class="form-label">Ethnicity</label>
                                <input type="text" class="form-control" id="ethnicity_id" placeholder="Ethnicity" v-model="Model.Family.Ethnicity" >
                            </div>
                        </div>        
                    </div>

                    <button type="button" class="btn btn-primary my-4" @click="GuiSubmit" v-if="!IsApproveAllowed()">Submit</button>
                    <button type="button" class="btn btn-success my-4" @click="GuiApprove" v-if="IsApproveAllowed()">Approve</button>
                </div>
            </div>

            <div class="col-md-7 col-lg-8">
                <div class="row" v-for="(Insuree,index) in Model.Insurees">
                    <div class="card" style="margin-left: 15px; margin-bottom: 10px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <label for="region" class="form-label">Region</label>
                                    <select v-model="Insuree.RegionId" @change="e=>getDistrict(Insuree)" class="form-select">
                                        <option v-for="(item,index) in Selects.Regions" :value="item.id">[[item.name]]</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <label for="district" class="form-label">District</label>
                                    <select v-model="Insuree.DistrictId" @change="e=>getMun(Insuree)" class="form-select">
                                        <option v-for="(item,index) in Insuree.SelectDistricts" :value="item.id">[[item.name]]</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <label for="municipality" class="form-label">Municipality</label>
                                    <select v-model="Insuree.MunId" @change="e=>getVill(Insuree)" class="form-select">
                                        <option v-for="(item,index) in Insuree.SelectMuns" :value="item.id">[[item.name]]</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <label for="village" class="form-label">Village</label>
                                    <select v-model="Insuree.VillId" class="form-select">
                                        <option v-for="(item,index) in Insuree.SelectVillages" :value="item.id">[[item.name]]</option>
                                    </select>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <label for="lastName" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last name" v-model="Insuree.LastName">
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <label for="otherName" class="form-label">Other name</label>
                                    <input type="text" class="form-control" id="otherName" placeholder="Other name" v-model="Insuree.OtherNames">
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label for="dob" class="form-label">Date of Birth</label>
                                    <input type="text" class="form-control" id="dob" placeholder="dob" v-model="Insuree.DOB">
                                </div>
                                <div class="col-md-1 col-sm-6 mt-3" v-if="index==0">
                                    <label for="isHead" class="form-check-label">IsHead</label>
                                    <input type="checkbox" class="form-check-input" id="isHead" v-model="Insuree.IsHead" >
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select" v-model="Insuree.Gender">
                                        <option value="">-- Select Gender --</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label for="maritalStatus" class="form-label">Marital Status</label>
                                    <select class="form-select" v-model="Insuree.Marital">
                                        <option value="">-- Select Status --</option>
                                        <option value="M">Married</option>
                                        <option value="S">Single</option>
                                        <option value="D">Divorced</option>
                                        <option value="W">Widowed</option>
                                        <option value="N">Not specified</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label for="passport" class="form-label">Passport</label>
                                    <input type="text" class="form-control" id="passport" placeholder="Passport" v-model="Insuree.passport">
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="phone" placeholder="Phone Number" v-model="Insuree.Phone">
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <label for="relationshipwithHead" class="form-label">Relationship with Head</label>
                                    <select class="form-select" v-model="Insuree.Relationship">
                                        <option value="0">--Select Relation--</option>
                                        <option value="1">Brother/Sister</option>
                                        <option value="2">Father/Mother</option>
                                        <option value="3">Uncle/Aunt</option>
                                        <option value="4">Son/Daughter</option>
                                        <option value="5">Grand parents</option>
                                        <option value="6">Employee</option>
                                        <option value="7">Others</option>
                                        <option value="8">Spouse</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <label for="profession" class="form-label">Profession</label>
                                    <select class="form-select" v-model="Insuree.Profession">
                                        <option value="0">--Select Profession--</option>
                                        <option value="1">Housewife</option>
                                        <option value="2">Employee</option>
                                        <option value="3">Self Employee</option>
                                        <option value="4">Others</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <label for="education" class="form-label">Education</label>
                                    <select class="form-select" v-model="Insuree.Education">
                                        <option value="1">Nursery</option>
                                        <option value="2">Primary school</option>
                                        <option value="3">Secondary school</option>
                                        <option value="4">University</option>
                                        <option value="5">Postgraduate studies</option>
                                        <option value="6">PHD</option>
                                        <option value="7">Other</option>
                                    </select>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="email@domain.com" v-model="Insuree.Email">
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <label for="typeofID" class="form-label">Type of ID</label>
                                    <select class="form-select" v-model="Insuree.TypeOfId">
                                        <option value="">--Select identity type--</option>
                                        <option value="D">Driver's License</option>
                                        <option value="N">National ID</option>
                                        <option value="P">Passport</option>
                                        <option value="V">Voter Card</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <label for="currentAddress" class="form-label">Current Address</label>
                                    <input type="text" class="form-control" id="currentAddress" placeholder="Current Address" v-model="Insuree.CurrentAddress">
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2"> Image</label>
                                    <div class="controls col-sm-4">
                                        
                                        <input accept="image/x-png,image/gif,image/jpeg" class="form-control inputInsureePhoto" id="ImageFile" name="ImageFile" type="file" value="" @change="e => readURL(e,index,Insuree)"/>
                                        <span class="field-validation-valid" data-valmsg-for="ImageFile" data-valmsg-replace="true"></span>
                                        <img :id="'imgInsuree'+index" :src="Insuree.B64Photo" class="img-responsive" style="width:250px;">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" @click="GuiNewInsuree">Add new family member</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>  
    
    <div class="container">
        <p>[[ Selects ]]</p>
        <p>[[ Model ]]</p>
    </div>
</div>

<script>
    new Vue({
        el: '#jpt',
        delimiters: ['[[', ']]'],
        data: {
            Selects:{
                "Regions":[],
                "Locations":[],
                "FamilyTypes":[],
                "ConfirmationTypes":[],
  
                //"Family":[]
                "Gender":[],
                "Relationship":[],
                "Profession":[],
                "Education":[],
                "TypeOfId":[],
                "HFID":[]
            },
            "OrgExistingInsuree":{
                "CHFID":""
            },
            "OrgFamily":{
                //"FamilyID": "",
                //"FamilyUUID": "",
                //"InsureeID": "",
                "LocationId": "",
                "Poverty": false,
                //"ValidityFrom": "",
                //"ValidityTo": "",
                //"LegacyID": "",
                //"AuditUserID": "",
                //"RowID": "",
                "FamilyType": "",
                "FamilyAddress": "",
                "isOffline": "",
                "Ethnicity": "",
                "ConfirmationNo": "",
                "ConfirmationType": ""
            },
            json_data:"",
            "OrgInsuree":{
                //"InsureeID": "",
                //"InsureeUUID": "",
                //"FamilyID": "",
                //"CHFID": "",
                "LastName": {val:"", req:1},
                "OtherNames": "",
                "DOB": {val:"", req:1},
                "Gender": {val:"", req:1},
                "Marital": "",
                "IsHead": "",
                "passport": "",
                "Phone": "",
                 
                //"PhotoID": "",
                //"PhotoDate": "",
  
                //"CardIssued": "",
                //"ValidityFrom": "",
                //"ValidityTo": "",
                "LegacyID": "",
                //"AuditUserID": "",
                //"RowID": "",
                "Relationship": {val:"", req:1},
                "Profession": "",
                "Education": "",
                "Email": "",
                //"isOffline": "",
                //"TypeOfId": "",
                //"HFID": "",
                "CurrentAddress": {val:"", req:1},

                //"Geolocation": "",
                //"CurrentVillage": ""    

                "RegionId":"",             
            },
            "Id":0,
            "decodeId":"",
            Model: {
                "ExistingInsuree":{},
                "Family": {},
                "Insurees" :[]
            }
        }, //end data
        created() {
            console.log('created');
            this.Model.ExistingInsuree = JSON.parse(JSON.stringify(this.OrgExistingInsuree));
            this.Model.Family = JSON.parse(JSON.stringify(this.OrgFamily));
            this.getRegions();
            this.GuiNewInsuree();

            var id=this.getUrlParameter('id');
            if(id){
                this.GetInsureeTempDetails(id);
            }
            var decodeId=this.getUrlParameter('decodeId');
            if(decodeId){
                this.decodeId=decodeId;
            }
        },
        mounted() {
            //for dbg
            window.submits=this.GuiSubmit;
        },
        methods: {
            getUrlParameter(sParam) {
                console.log('getUrlParameter');
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;
                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName.slice(1).join('=');//base64 == fix
                    }
                }
            },
            getUrl(url){
                var u = this.getUrlParameter('server');
                if(u)
                {
                    return u+url;
                }
                return url;
            },
            IsApproveAllowed(){
                if(this.decodeId){
                    return true;
                }
                return false;
            },
            validateFamily(){
                var valid=true;

                return valid;
            },
            validateInsuree(Insuree){
                console.log('validateInsuree');
            	for(var k in this.OrgInsuree){
            		var curr = this.OrgInsuree[k]; 
            		if(typeof curr === 'object' && curr !== null) {
            			var req = curr['req'];
            			if(req==1) {
            				if(Insuree[k] =="" || Insuree[k]==null){
            					alert(`Insuree ${k} required`);
            					return false;
            				}
            			}
            		}
            	}
            	return false;
            },
            Validate(){
                var valid=true;
                var Insurees=this.Model.Insurees;
                for (var i = 0; i < Insurees.length; i++) {
                	if(this.validateInsuree(Insurees[i])){
                		return false;
                	}
                }
                return valid;
            },
            GetOrgInsuree(){
            	var OrgInsuree={};
            	for(var k in this.OrgInsuree){
            		var curr = this.OrgInsuree[k]; 
            		OrgInsuree[k]=curr;
            		if(typeof curr === 'object' && curr !== null) {
            			OrgInsuree[k]=curr['val']
            		}
            	}
            	console.log(OrgInsuree);
            	return OrgInsuree;

            },
            GuiNewInsuree(){
                this.Model.Insurees.push(
                    JSON.parse(JSON.stringify(this.GetOrgInsuree()))
                );
                $(".inputInsureePhoto").unbind('change').change(function () {
                    readURL(this);
                });
            },
            GetInsureeTempDetails(id){
                var thisRef = this;
                var reqUrl = "/api/graphql";
                console.log("pappu")
                $.ajax({
                    url: reqUrl,
                    type: 'POST',
                    data:  JSON.stringify({
                        query: `{
                            tempreg(id: "${id}"){
                                #id: VGVtcG9yYXJ5UmVnR1FMVHlwZToxMDE1
                                json
                            }
                        }`
                }),//strData,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        //console.log(response);
                    var json_data = JSON.parse(response.data.tempreg.json);
                    Vue.set(thisRef, "Model", json_data);
                    }
                }); //end ajax
            },
            GuiSubmit(){
            	if(!this.Validate()){
            		return
            	}
                var sendData = this.Model;
                var reqUrl = this.getUrl("/api/graphql");
                var strData = JSON.stringify( sendData ); // JSON.stringify( {"bla":"5"} );
                console.log(strData);
                $.ajax({
                    url: reqUrl,
                    type: 'POST',
                    data:  JSON.stringify({
                        query: `
                            mutation {
                                createTemporaryInsuree(json:${JSON.stringify(strData)}){
                                    ok
                                }
                            }`
                    }),//strData,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        console.log(response);
                    }
                }); //end ajax                 
            },
            GuiApprove(){
                var id=this.getUrlParameter('decodeId');
                if(!id){
                    alert('no id');
                }
                var reqUrl = this.getUrl("/api/graphql");
                $.ajax({
                    url: reqUrl,
                    type: 'POST',
                    data:  JSON.stringify({
                        query: `
                            mutation {
                                createInsureeMutationFromTemp(id:"${id}"){
                                    ok
                                    message
                                }
                            }`
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        console.log(response);
                    }
                }); //end ajax
            },
            getLocation(args){
                var reqUrl = this.getUrl("/api/graphql"); //"http://oi.tinker.com.np/api/graphql";
                var id=args.id ? args.id : '';
                var type=args.type ? args.type: '';
                var parent_Id=args.parent_Id ? args.parent_Id:'';
                $.ajax({
                    url: reqUrl,
                    type: 'POST',
                    data:  JSON.stringify({
                        query: `
                        query {
                            locations(id:"${id}", type:"${type}", parent_Id:"${parent_Id}"){
                                edges{
                                    node{
                                    id,
                                    type,
                                    name
                                    }
                                }
                            }
                        }`
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        console.log(response);
                        if(args.pRef){
                            var edges=response.data.locations.edges;
                            var options=[];
                            var node={};
                            for(var i=0; i<edges.length; i++){
                                node=edges[i].node;
                                options.push({'id': node['id'], 'name': node['name']});
                            }
                            Vue.set(
                                args.pRef, //parent Ref
                                args.cstr,  //childStr
                                options
                            );
                        }
                    }
                }); //end ajax 
            },
            getRegions(){
                console.log('getRegions');
                this.getLocation({'id':'', 'type':'R', 'pRef': this.Selects, 'cstr': 'Regions'});
            },
            getDistrict(Insuree){
                console.log(Insuree);
                this.getLocation({'parent_Id':Insuree.RegionId, 'pRef': Insuree, 'cstr': 'SelectDistricts'});
            },
            getMun(Insuree){
                this.getLocation({'parent_Id':Insuree.DistrictId, 'pRef': Insuree, 'cstr': 'SelectMuns'});
            },
            getVill(Insuree){
                this.getLocation({'parent_Id':Insuree.MunId, 'pRef': Insuree, 'cstr': 'SelectVillages'});
            },
            readURL(evInput, index, Insuree){
                console.log('readURL');
                if (evInput.target.files && evInput.target.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        //$('#IdImageFileName').attr('src', e.target.result);

                        //console.log($('#IdImageFileName'));
                        //-----------------------------------
                        img = new Image();
                        img.onload = function () {
                            var allowedWidth = 500;
                            var allowedHeight = 300;

                            if (false && (this.width > allowedWidth || this.height > allowedHeight) ) {
                                $('#IdImageFileName').attr('src', '');
                                $('#ImageFile').val('');                        
                                alert(
                                    "The dimensions of image is : " + this.width + "x" + this.height +
                                    "! Only " + allowedHeight + "X" + allowedWidth +  " is allowed!"
                                );                        
                            }
                            else
                            {
                                //set image if dimension match
                                // $('#imgInsuree'+index).attr('src', e.target.result);
                                //Insuree["B64Photo"]=e.target.result; //not responsive but there is value set
                                Vue.set(Insuree, 'B64Photo', e.target.result);
                            }
                            
                        };

                        img.onerror = function () {
                            alert("not a valid file: " + file.type);
                        };
                        img.src = e.target.result;
                        //-----------------------------------

                    }
                    reader.readAsDataURL(evInput.target.files[0]);
                }
            }
        } //end methods
     }); //end Vue open
</script>

<!-- http://localhost:8055/api/webapp/temp_insuree_reg/?server=http://oi.tinker.com.np -->
<!-- http://localhost:8055/api/webapp/temp_insuree_reg/?server=http://localhost:8055 -->
</body>
</html>

